{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Facturas
{% endblock %}

{% block app_css %}
{% endblock app_css %}

{% block content %}
    <div class="row">
        <div id="app_header" class="col-sm-12">
            <h1>
                Facturas
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

    <table id="tbl_facturas_list" class="table table-striped table-hover table-condensed">
        <thead class="table_header">
            <tr>
                <th>
                    <a href="{% url 'facturas:add' %}" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;Crear Factura</a>
                </th>
            </tr>
            <tr>
<!-- 
fecha
numero
cliente
vendedor
galones
monto
fecha_vence
referencia
 -->
                <th>Fecha</th>
                <th>Número</th>
                <th>Cliente</th>
                <th>Vendedor</th>
                <th>Galones</th>
                <th>Monto</th>
                <th>Fecha Vence</th>
                <th>Referencia</th>
                <th class="tbl_record_options">...</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas_list %}
                <tr>
                    <td>{{ factura.fecha }}</td>
                    <td>
                        <a href="{% url 'facturas:detail' factura.id %}">{{ factura.numero }}</a>
                    </td>
                    <td>
                        <a href="#">{{ factura.cliente.nombre }}</a>
                    </td>
                    <td>
                        <a href="#">{{ factura.cliente.vendedor.nombre }}</a>
                    </td>
                    <td>{{ factura.galones }}</td>
                    <td>{{ factura.monto }}</td>
                    <td>{{ factura.fecha_vence }}</td>
                    <td>{{ factura.referencia }}</td>
                    <td class="tbl_record_options">
                        <a href="#" title="Editar Factura">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                        </a>
                        <a href="#" title="Eliminar Factura">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        </div>
    </div>
{% endblock %}

{% block domready %}
{% endblock %}